Goldsmith to pinecone.json
{
  "name": "Goldsmith to pinecone",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1zUzCq11l4HD0qsvVYaPpahZbwQGnn22_",
          "mode": "list",
          "cachedResultName": "Rag App",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1zUzCq11l4HD0qsvVYaPpahZbwQGnn22_"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        -64
      ],
      "id": "533f51f6-ef19-4022-b0a5-40ba3463bd82",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "I7BZk9X8lvrSUAMS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        -64
      ],
      "id": "e57ddafe-6e26-4afb-a4a7-0bb2d951a218",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "I7BZk9X8lvrSUAMS",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "goldsmith",
          "mode": "list",
          "cachedResultName": "goldsmith"
        },
        "options": {
          "pineconeNamespace": "Q&A"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        32,
        -64
      ],
      "id": "5302e762-7c32-462a-a35c-a680308de15f",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "05QTOo8olo3q0WbS",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -32,
        176
      ],
      "id": "0e0a4acb-8df5-4b31-8bad-09db8bfeeaeb",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "hL886eH60ZUezF7c",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        192,
        176
      ],
      "id": "cf283e06-b36a-4dbd-af6c-ff5ab1b252ed",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        304,
        368
      ],
      "id": "5236273a-6eb7-45bb-95d0-9abecc4485d2",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3d57a8de-e6df-46a7-ac34-2a0673c6d1c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3aab000114a1f22ac77d00c14cd724a6c6ac9f984ffae05cd32fabe072f084b"
  },
  "id": "HCM6JDNY3u0xczlz",
  "tags": []
}